@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media print {
  body {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  button {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 10mm;
    pap
  }
} */

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  font-family: Calibri !important;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.mtoo td {
  @apply border-2
}
.mtoo th {
  @apply border-2
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
